/* Universal Styles & Resets */

:root {
  --draw-color: hsl(0, 0%, 100%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  text-align: center;
}

/* Reset Button */

button {
  font-weight: bold;
  padding: 0.5em;
}

/* Grid Styles */

.grid-container {
  border: 1px solid red;
  display: grid;
  height: 960px;
  margin: 1rem auto;
  width: 960px;
}

.grid-container__item {
  background-color: var(--draw-color);
  border: 1px solid black;
}