/* Universal Styles & Resets */

*, *::before, *::after {
  box-sizing: border-box;
}

/* Grid Styles */

.grid-container {
  display: grid;
  width: 960px;
  height: 960px;
  border: 1px solid red;
}

.grid-container__item {
  border: 1px solid black;
}